.ui.menu.fixed.side-nav {
  background-color: #27282A;
  margin-top: 42px;
  overflow-y: auto;
  padding-bottom: 64px;
  border: none !important;
 
  .sidebar-item:hover {
    background: #363B3F;
  }
}

.side-nav.ui.vertical.menu {
  
}

