.ui.menu.fixed.side-nav {
  background-color: #E9EBEE;
  margin-top: 42px;
  overflow-y: auto;
  padding-bottom: 64px;
  border: none !important;
  .sidebar-item:hover {
    background: #F5F6F7;
  }
}

.side-nav.ui.vertical.menu {
  width: 11rem;
}

