.sidebar-item {
    background: #f5f5f5;
    display: block;
    margin-left: 2px;
    max-width: 126px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
    padding: 7px !important;
    
    
    span {
      color:#EAEAEB;
      i.icon {
        margin-right: 5px;
        color:#484F55;
      }
      font-size: 13px;
      font-family: inherit;
    }
  
    &.highlight-item {
      span {
        font-weight: 600;
      }
  
      i.icon {
        color: #1784C7;
      }
    }
  }
  
  .sidebar-item-alignment-container {
    display: flex;
    align-items: center;
  }